{% extends "base.html" %}

{% block content %}
{% load static %}


        <!-- Register Form -->

        <div class="container">
            <div class="row myBox">
                <div class="col-md-8 col-md-offset-2">
                    <div class="innerBox">
                        <div class="row">
                            <div class="col-md-5 firstCol">
                                <div class="titleTag">Welcome to Urban green</div>
                                <div class="descriptionTag">Are you ready to join the elite?</div>
                            </div>
                            <div class="col-md-7 secondCol">
                                <div class="formHead">Sign Up</div>
                                <form method=POST action=''>
                                    {% csrf_token %}
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" name='username' placeholder="Username" class="inputfield" required>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="email" name='email' placeholder="Email" class="inputfield" required>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" name='first_name' placeholder="First Name" class="inputfield" required>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" name='last_name' placeholder="Last Name" class="inputfield" required>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="password" name='password' placeholder="Password" class="inputfield" required>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="password" name='password2' placeholder="Confirm Password" class="inputfield" required>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="registerBtn">Sign Up</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



{% endblock %}